@import "normalize.css";

:root {
  --primary-text-color: #333;
  --vice-text-color: #fff;

  --light-standard-color: #fff;

  --first-vice-color: rgb(37 244 238);

  --second-vice-color: rgb(254 44 85);
  --dark-second-vice-color: rgb(235, 40, 79);
  --light-second-vice-color: rgba(254, 44, 85, 0.03);

  --darkest-color: rgba(22, 24, 35, 1);
  --medium-dark-color: rgba(22, 24, 35, 0.9);
  --dark-color: rgba(22, 24, 35, 0.34);
  --minimum-dark-color: #e3e3e4;

  --dark-shadow-color: 0px 1px 18px rgb(0 0 0 / 12%);
  --light-grey-hover-color: rgba(22, 24, 35, 0.05);

  --title-font-weight: 700;
  --text-font-weight: 600;

  --transition-props: all 0.2s ease-in-out;
}

//FONTS EMMBEDED
@font-face {
  font-family: ProximaNova;
  src: url("../../assets//fonts//Proxima-Nova-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: ProximaNova;
  src: url("../../assets//fonts//ProximaNova-Semibold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: ProximaNova;
  src: url("../../assets//fonts//Proxima-Nova-Bold.woff");
  font-weight: 700;
}
@font-face {
  font-family: SofiaPro;
  src: url("../.././assets//fonts//sofiapro-bold.woff");
  font-weight: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  font-family: ProximaNova;
  line-height: 1.5;
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
  color: var(--primary-text-color);
}
//SCROLLBAR CSS
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}
html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}
html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}
button,
input,
[tabindex] {
  outline: none;
  border: none;
  font-family: ProximaNova;
}
button {
  cursor: pointer;
  user-select: none;
  transition: var(--transition-props);
  background-color: transparent;
}
a[href] {
  text-decoration: none;
  border: none;
  text-align: center;
  color: currentColor;
}

//Customize Tippy tooltip
body {
  .tippy-box {
    // background-color: var(--dark-color);
    padding: 4px;
    border-radius: 8px;
    opacity: 0.9;
    // font-size: 1.6rem;
  }
}
