.wrapper {
  width: 100%;
  scroll-behavior: smooth;
}
.container {
  display: flex;
  justify-content: center;
}
.navigation {
  width: 500px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  z-index: 1;
}
.content {
}
