//Menu.js
.setting-items {
  transform: translateX(44px);
}
.body-items {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
}
.item {
  justify-content: flex-start;
  text-decoration: none;
  color: currentColor;
  border-radius: 0;
  font-weight: var(--text-font-weight);
  &:hover {
    background-color: rgba(22, 24, 35, 0.05);
  }
  &.divider {
    border-top: 1px solid var(--minimum-dark-color);
  }
}
//Heading.js
.heading {
  position: relative;
  height: 44px;
  min-width: 200px;
  width: 100%;
  flex-shrink: 0;
}
.back-btn {
  width: 50px;
  height: 100%;
  background-color: transparent;
  &:hover {
    background-color: var(--light-grey-hover-color);
    border-radius: 0% 50% 50% 0%;
  }
}
.heading-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
