* {
  --first-vice-color: rgb(37 244 238);
}
.wrapper {
  display: flex;
  align-items: center;
  padding: 9px 16px;
  &:hover {
    cursor: pointer;
    background: rgba(22, 24, 35, 0.05);
  }
}
.avt {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.info {
  flex: 1;
  margin-left: 12px;
  line-height: 1;
}
.name {
  font-size: 1.6rem;
  font-weight: 600;
}
.check-icon {
  margin-left: 8px;
  color: var(--first-vice-color);
}
.username {
  font-size: 1.4rem;
}
