.wrapper {
  // --first-vice-color: rgb(37 244 238);
  // --second-vice-color: rgb(254 44 85);
  // --search-border-color: rgb(200, 200, 200);
  // --darkest-color: rgba(22, 24, 35, 1);
  // --dark-color: rgba(22, 24, 35, 0.34);

  --search-border-radius: 92px;
  --searchbar-height: 46px;
  --divider-top-space: 9px;
  --search-btn-width: 52px;

  position: relative;
  width: 100%;
  top: 0;
  left: 0;
}
.inner {
  // display: flex;
  // justify-content: space-around;
  // flex-direction: column;
  // height: 100%;
  // width: 33%;
  // background-color: black;
  box-shadow: var(--dark-shadow-color);
  margin-bottom: 10px;
  height: 100%;
  width: 100%;
}
.section-one {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo-link {
  display: flex;
}
.actions {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.section-two {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6px;
  margin-top: 4px;
}
.setting-item {
  width: 100%;
}
//actions
.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.msg-btn,
.noti-btn {
  display: flex;
  font-size: 2rem;
  color: var(--medium-dark-color);
  padding: 10px 12px;

  &:hover {
    opacity: 0.8;
  }
}
.user-avt {
  cursor: pointer;
  width: 37px;
  object-fit: cover;
  border-radius: 50%;
}
//badge noti
.noti {
  position: absolute;
  transform: translate(0px, -10px);
  font-weight: 600;
  font-size: 1.2rem;
  background-color: var(--second-vice-color);
  color: var(--vice-text-color);
  padding: 1px 6px;
  border-radius: 999px;
  // margin-right: 10px;
}

.more-settings {
  font-size: 2rem;
  background-color: transparent;
  color: var(--darkest-color);
}
//Setting item
.settings {
  background-color: transparent;
  font-size: 2rem;
  padding: 0px 20px;
}
